.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 40px;
  height: 40px;
}
.logo-name {
  display: flex;
  align-items: center;
}
.name {
  padding-left: 10px;
  font-family: cursive;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  min-height: 100vh;
}

.each-nav {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
